<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-parent</artifactId>
        <version>2.2.7.RELEASE</version>
    </parent>
    <modelVersion>4.0.0</modelVersion>
    <groupId>${groupId}</groupId>
    <artifactId>${artifactId}</artifactId>
    <version>1.0.0</version>
    <!--打包成jar包部署-->
    <packaging>jar</packaging>
    <name>${project.artifactId}</name>
    <description>${projectDesc}</description>
    <properties>
        <cpms.project.version>1.0.0</cpms.project.version>
        <cpms.core.framework.version>1.0.0</cpms.core.framework.version>
        <file_encoding>${fileEncoding}</file_encoding>
        <project.build.sourceEncoding>${file_encoding}</project.build.sourceEncoding>
        <project.reporting.outputEncoding>${file_encoding}</project.reporting.outputEncoding>
        <java.version>${jdkVersion}</java.version>
        <maven.compiler.source>${java.version}</maven.compiler.source>
        <maven.compiler.target>${java.version}</maven.compiler.target>
        <lombok.version>1.18.12</lombok.version>
        <spring-boot.version>2.2.7.RELEASE</spring-boot.version>
        <log4j2.version>2.17.0</log4j2.version>
    </properties>


    <dependencies>
        <!-- common核心框架模块-->
        <dependency>
            <groupId>com.cpms</groupId>
            <artifactId>cpms-core-framework-common</artifactId>
            <version>${cpms.core.framework.version}</version>
            <exclusions>
                <exclusion>
                    <artifactId>spring-boot-starter-web</artifactId>
                    <groupId>org.springframework.boot</groupId>
                </exclusion>
            </exclusions>
        </dependency>

        <!-- spring MVC -->
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
            <exclusions><!-- 排除掉Logback日志框架的依赖 -->
                <exclusion>
                    <groupId>org.springframework.boot</groupId>
                    <artifactId>spring-boot-starter-logging</artifactId>
                </exclusion>
            </exclusions>
        </dependency>

        <!-- mybatis框架模块-->
        <dependency>
            <groupId>com.cpms</groupId>
            <artifactId>cpms-core-framework-mybatis</artifactId>
            <version>${cpms.core.framework.version}</version>
            <exclusions>
                <exclusion>
                    <artifactId>cpms-core-framework-common</artifactId>
                    <groupId>com.cpms</groupId>
                </exclusion>
            </exclusions>
        </dependency>

        <!-- log框架模块-->
        <dependency>
            <groupId>com.cpms</groupId>
            <artifactId>cpms-core-framework-log</artifactId>
            <version>${cpms.core.framework.version}</version>
            <exclusions>
                <exclusion>
                    <artifactId>cpms-core-framework-common</artifactId>
                    <groupId>com.cpms</groupId>
                </exclusion>
            </exclusions>
        </dependency>

        <!-- Captcha 验证码 -->
        <dependency>
            <groupId>com.github.whvcse</groupId>
            <artifactId>easy-captcha</artifactId>
            <version>1.6.2</version>
        </dependency>

        <dependency>
            <groupId>org.projectlombok</groupId>
            <artifactId>lombok</artifactId>
            <version>${lombok.version}</version>
            <scope>provided</scope>
        </dependency>

        <!-- springboot 单元测试 -->
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-test</artifactId>
            <scope>test</scope>
            <exclusions>
                <exclusion>
                    <!--  排除掉重复的log4j2日志依赖 -->
                    <artifactId>spring-boot-starter-logging</artifactId>
                    <groupId>org.springframework.boot</groupId>
                </exclusion>
            </exclusions>
        </dependency>
    </dependencies>


    <build>
        <!--定义jar包名称-->
        <finalName>${project.name}</finalName>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
                <version>${spring-boot.version}</version>
                <configuration>
                    <finalName>${project.build.finalName}</finalName>
                </configuration>
                <executions>
                    <execution>
                        <goals>
                            <goal>repackage</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <version>3.3</version>
                <configuration>
                    <source>${maven.compiler.source}</source>
                    <target>${maven.compiler.target}</target>
                    <encoding>${file_encoding}</encoding>
                    <skip>true</skip>
                </configuration>
            </plugin>
        </plugins>

        <resources>
            <resource>
                <directory>src/main/resources</directory>
                <excludes>
                    <exclude>profiles/**</exclude>
                </excludes>
            </resource>
            <resource>
                <directory>src/main/resources/profiles/${profiles.active}</directory>
                <filtering>true</filtering>
            </resource>
        </resources>
    </build>

    <profiles>
        <profile>
            <id>dev</id>
            <properties>
                <profiles.active>dev</profiles.active>
            </properties>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
        </profile>
        <profile>
            <id>test</id>
            <properties>
                <profiles.active>test</profiles.active>
            </properties>
        </profile>
        <profile>
            <id>prod</id>
            <properties>
                <profiles.active>prod</profiles.active>
            </properties>
        </profile>
    </profiles>
</project>