<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--设置驼峰自动转换，即不需要写字段别名就能映射实体类字段，前提表字段中间要有下划线‘_’“-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="STATEMENT"/>
        <!-- 二级缓存，针对的是mapper,缓存数据是共享的，需要手动开启-->
        <setting name="cacheEnabled" value="true"/>
        <!--sql语句输出到控制台-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 定义别名，方便开发（返回、输出类型写成全类名路径 不方便开发） -->
    <typeAliases>
        <!-- 批量自定义别名
        指定包名，mybatis自动扫描指定包中的实体类，自动定义别名，别名就是类名（首字母大小写都可以） -->
<!--        <package name="com.xxx.mapper" />-->
    </typeAliases>
</configuration>


