package ${packageName}.common.constants;

/**
 * @description: redis redis缓存key常量
 * @author: ${author}
 * @time: ${genDate}
 */
public class RedisKeyConstant {
    /**
     * redis key 命名规范：<服务名称>:<业务类型>:<唯一值KEY>:<唯一值VALUE>
     */
    private static final String  KEY_PREFIX = "${projectName}:";
    public static class Demo {
        public static final String  DEMO_TEST = KEY_PREFIX+"demo:test:%s";
    }
}
