#服务器端口
server:
   port: ${projectPort}
   servlet:
      context-path: ${contextPath}  # 请求接口的前缀

# Spring
spring:
   application:
      # 应用名称
      name: ${projectName}
   #******** 激活自定义配置文件 ****#
   profiles:
      active: prod
      include: jdbc,system
